# SQL Server credentials
SQL_SERVER=sql_server.com
SQL_USERNAME=user
SQL_PASSWORD=pass
ICO_DATABASE=ICO
WATRA_DATABASE=WATRA

# Oracle credentials
ORACLE_USER=user
ORACLE_PASSWORD=pass
ORACLE_DSN=REDLake_ZeusP_Consumer_DALI.world


#envd used in config.py